html{
    background-color: blueviolet
}

header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    margin-bottom: 2%;
    padding: 1em;
    background-color: cornflowerblue;
}

#question {
	text-align: center;
}

#questionTitle {
	font-size: 16pt;
}

#answers {
	padding-left: 2%;
	padding-right: 2%;
	width: 70%;
	height: 80%;
    margin: auto;
    text-align: center;
}

.answer{
    display: inline-block;
    height: 500px;
    width: 20%;
    top: -100%;
}

.track{
    margin: 10px 10px 10px 0px;
    padding: 1em;
    background-color: antiquewhite
}

.info{
    position: relative;
    margin: 10px;
    clear: both;
}

.sub{
    position: relative;
    width: 28%;
    margin: 0% 1% 0% 0%;
    padding: 2%;
    float: left;
    background-color: darksalmon;
}

.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear:both;
}