html{
    background-color: blueviolet
}

header{
    /**
    Do you want this fixed position?
    **/
    margin-bottom: 2%;
    padding: 1em;
    background-color: cornflowerblue
}

#content{
    float: left;
}

#state{
    float: right;
}

#leftCol{
	float: left;
    width: 30%;
    padding: 1em;
    background-color: cadetblue
}

#rightCol{
    float: right;
    width: 60%;
    padding: 1em;
    background-color: deepskyblue
}

#tempButton{
	clear: both;
}

.track{
    margin: 10px 10px 10px 0px;
    padding: 1em;
    background-color: antiquewhite
}

.info{
    position: relative;
    margin: 10px;
    clear: both;
}

.sub{
    position: relative;
    width: 28%;
    margin: 0% 1% 0% 0%;
    padding: 2%;
    float: left;
    background-color: darksalmon;
}

.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear:both;
}