html {
  background-color: #333539;
  background-image: url("../media/era/top_gradient.png");
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  margin-bottom: 2%;
  padding: 1em;
  color: #fffcf0;
  
}

.button{
  height: 90px;
  transition: all .2s ease-in-out;
}

.button:focus{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#content{
  /*text-align: center;*/
  float: left;
}

#state{
  float: right;
  margin-right: 3.7%;
}

#leftCol{
  position: fixed;
  z-index: 2;
  top: 124px;
  float: left;
  width: 30%;
  padding: 1em;
  color: #fffcf0;
  /*background-color: #474b55;*/
}

#rightCol{
  position: relative;
  z-index: 1;
  top: 116px;;
  float: right;
  width: 65%;
  padding: 1em;
  color: #fffcf0;
  /*background-color: #474b55;*/
}

#tempButton{
	clear: both;
  position: relative;
  top: 200px;
}

.trackPicture{
  width: 100%;
  margin: 0px;
}

.track{
  margin: 10px 10px 0px 0px;
  padding: 1.5em 1em .1em 1em;
  background-color: #474b55;
  line-height: 1px;
}

sub{
  margin: 0px;
  color: grey;
}

.info{
  position: relative;
  margin: 10px;
  clear: both;
}

.sub{
  position: relative;
  width: 29.3%;
  margin: 0% 1% 0% 0%;
  padding-bottom: 2%;
  float: left;
  background-color: #474b55;
}
.subtext{
    padding: .8em;
}

.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}

.clearfix:after{
  clear:both;
}