@font-face{
  font-family: AdamCG;
  src: url("../media/fonts/ADAM.CG PRO.otf");
}

html {
  background-color: #333539;
  background-image: url("../media/era/backgroundGraphics.jpg");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

#fade{
  margin: -10px;
  padding: 0;
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 2;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  margin-bottom: 2%;
  padding: 1em 0em 0em 0em;
  color: #fffcf0;
  
}

.button{
  height: 90px;
  transition: all .2s ease-in-out;
}

.button:focus{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#content{
  /*text-align: center;*/
  font-family: AdamCG;
  float: left;
}

#state{
  float: right;
  margin-right: 4%;
}

#leftCol{
  font-family: AdamCG;
  position: relative;
  z-index: 2;
  top: 408px;
  float: left;
  width: 30%;
  padding: 1em;
  margin-left: .7%;
  color: #fffcf0;
  /*background-color: #474b55;*/
}

#rightCol{
  font-family: AdamCG;
  position: relative;
  display: table;
  z-index: 1;
  top: 408px;
  float: right;
  width: 65%;
  padding: 1em;
  margin-right: 0%;
  color: #fffcf0;
  /*background-color: #474b55;*/
}

#rightStuff{
  margin-top: -100px;
}

#tempButton{
	clear: both;
  position: relative;
  top: 200px;
}

.trackPicture{
  width: 100%;
  margin: 0px;
}

.track{
  font-family: 'Open Sans';
  margin: 10px 10px 0px 0px;
  padding: 1.5em 1em .1em 1em;
  background-color: #292929;
  box-shadow: 3px 3px 3px #000000;
  line-height: 1px;
}

sub{
  margin: 0px;
  color: grey;
}

.info{
  position: relative;
  margin: 10px;
  clear: both;
}

.sub{
  display: table-cell;
  position: relative;
  width: 29.3%;
  margin: 0% 1% 0% 0%;
  padding-bottom: 2%;
  float: left;
  background-color: #474b55;
  box-shadow: 3px 3px 3px #000000;
}
.subtext{
    font-family: 'Open Sans';
    padding: .8em;
}

.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}

.clearfix:after{
  clear:both;
}